.layout_create,
.layout_under{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2,h3{
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px 10px;
}
.layout_exp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2,
h3 {
  color: #000;
  font-family: Inter;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px 10px;
}
input {
  padding: 0.3rem 1rem;
}
/* 강좌명과 강좌지역 */
.input_lecture_head {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 3rem;
}
.lecture_name {
  display: flex;
  align-items: center;
}
.input_lecture_name {
  width: 24rem;
  border-radius: 0.9375rem;
  border: 1px solid #b0b0b0;
  background: #fff;
  width: 37.4375rem;
  height: 3.5rem;
  flex-shrink: 0;
  font-size: 2rem;
}
.lecture_region {
  display: flex;
  align-items: center;
}
.h_area {
  border-radius: 0.9375rem;
  border: 1px solid #b0b0b0;
  background: #fff;
  width: 7rem;
  height: 3.5rem;
  flex-shrink: 0;
  font-size: 1.7rem;
}

/* 강좌 소개 */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}
.intro_lecture {
  display: flex;

  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;

  border-radius: 0.9375rem;
  border: 1px solid #b0b0b0;
  width: 62.5rem;
  height: 18.75rem;
  flex-shrink: 0;
  padding: 1rem;
}

/* 이미지와 요일 */
.img_day {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 3rem;
}

/* 사진등록 박스 */
.lecture_img {
  display: flex;
  flex-direction: column;
  margin: unset;
  margin-right: 2rem;
}
.box1 {
  display: flex;
  flex-direction: row;
}
.box2 {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.gray_box {
  width: 18.75rem;
  height: 12.5rem;
  flex-shrink: 0;
}

.button_for_img {
  width: 9rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 1rem;
  border-style: none;
  background: #f8f8f8;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0.5rem;
  margin-left: 1rem;
}

/* 가능 요일 */
.able_week_div {
  display: flex;
  flex-wrap: nowrap;
}
.able_week {
  display: flex;
  flex-direction: column;
  margin: unset;
  margin-right: 1rem;
}
.label_week {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.7rem;
  height: 3.8rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #f8f8f8;
  margin: 0.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* 강좌 신청 - 상세 */
.lecture_details {
  display: flex;
  flex-direction: row;
}
.intro_lecture_mentee {
  width: 33.125rem;
  height: 28.75rem;
  background-color: #fff;
  stroke-width: 1px;
  stroke: #b0b0b0;

  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;

  border-radius: 0.9375rem;
  border: 1px solid #b0b0b0;
  padding: 1rem;
}
.gray_box_mentee {
  width: 27.6875rem;
  height: 18.4375rem;
  flex-shrink: 0;
}


.enroll{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: 5rem;
}
.h3_review{
    position: absolute;
    left: 1rem;
    top: 1rem;
}
.submit_button_review{
    position: absolute;
    right: 1rem;
    width: 13.5625rem;
    height: 3.00094rem;
    flex-shrink: 0;
    border-style: none;
    border-radius: 0.9375rem;
    background: #51D394;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.review_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 1rem;
}
.reviews{
    position: relative;
    width: 63.0625rem;
    height: 9rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #F8F8F8;
}

.review_content{
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 1rem;
}
.enroll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 강좌신청 팝업 */
.x_icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.popup {
  position: relative;
  width: 57.1875rem;
  height: 38.3125rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #f8f8f8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main_popup{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.popup{
    position: relative;
    width: 57.1875rem;
    height: 38.3125rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.request {
  display: flex;
  flex-direction: column;
}
.input_for_request {
  width: 24.75rem;
  height: 3.5625rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 1px solid #b0b0b0;
  background: #fff;
  color: black;
  font-family: Inter;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1rem;
}
.personal_infor {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.agree_ment {
  margin: 2rem 1rem;
}
.agree_label {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 3px solid #707070;
  position: relative;
}
#checkbox_agree:checked + label::after {
  content: '✔';
  font-size: 25px;
  width: 30px;
  height: 30px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}

/* 강좌개설하기 */
.create_lecture_button {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.submit_button{
    width: 43rem;
    height: 4.1875rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    border-style: none;
    background: #51D394;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Inter;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 3rem;
}
.submit_button:hover,
.submit_button_review:hover {
  transform: scale(1.1);
}

/* 강좌가능시간대 */
.checkbox {
  display: none;
}

/* 멘토 레벨 게이지바 */
.mentor_exp{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 4rem;
  
}
.mentor_exp_name{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 1rem;
}
.progress-bar{
    width: 64.0625rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-align: start;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.5rem;
}

.exp_h3{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.mentor_exp {
  display: flex;
  flex-wrap: nowrap;
}

.exp_h3 {
  display: flex;
  align-items: flex-end;

}

/* 후기 등록 */
.hr_review{
    margin: 5rem 10rem 0 10rem;
}

.show_reviews{
    margin-top: 3rem;
}
.review_head{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1rem 0;
}

.review_head {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.back_icon{
    position: absolute;
    top: 2rem;
    left: 10rem;
}
.back_icon {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

h1 {
  color: #51d394;
  text-align: center;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.p_review_explain {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.p_review_explain{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 2rem 0;
}

.input_content {
  display: flex;
  flex-wrap: nowrap;
  /* margin-right: 10rem; */
}

.review_p {
  width: 5rem;
  height: 2.4375rem;
  flex-shrink: 0;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 1.49rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 1rem;
}
.review_input {
  border-radius: 0.9375rem;
  border: 1px solid #b0b0b0;
  background: #fff;
  width: 37.4375rem;
  height: 3.5rem;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0.3rem 1rem;
}
.review_p{
    width: 10rem;
    height: 2.4375rem;
    flex-shrink: 0;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 1.49rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 1rem;
    margin: 1rem;
}
.review_input{
    border-radius: 0.9375rem;
    border: 1px solid #B0B0B0;
    background: #FFF;
    width: 37.4375rem;
    height: 3.5rem;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.3rem 1rem;
    margin: 0;

}
textarea.review_input {
  width: 37.4375rem;
  height: 7.6875rem;
  flex-shrink: 0;
}
#mentor {
  width: 15.5rem;
  height: 3.5rem;
  flex-shrink: 0;
}
