<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/Application(main).css">
    
    <title>강좌신청 (메인) - 로그인X</title>
</head>
<body>
    <div class="best_lecture"><!-- 인기강좌 -->
        <div class="best">
            <h1>best</h1>
        </div>
        <div class="best_lecture_1"> 
            <!-- 리뷰 갯수를 기준으로 인기강좌 선정 -->
            <input type="text" class="lecture_name" value="강좌 이름">
            <input type="text" class="abled_region" value="가능 지역">
            <input type="text" class="mentor_name" value="@@@멘토">
            <input type="text" class="intro_lecture" value="강좌 소개글">
        </div>
    </div>
    <div class="lecture_list"> <!-- 3x3 각 강좌는 카드형태로 구성 -->
        <div class="card_backgroud">
            <div class="card_img">
                <img src="" alt="">
            </div>
            <div class="card_name">
                <h3>키오스크로 주문하기</h3>
            </div>
            <div class="card_region_mentor">
                <p>가능 지역</p>
                <p>김가은 멘토</p>
            </div>
        </div>
        <div class="card_backgroud">
            <div class="card_img">
                <img src="" alt="">
            </div>
            <div class="card_name">
                <h3>키오스크로 주문하기</h3>
            </div>
            <div class="card_region_mentor">
                <p>가능 지역</p>
                <p>김가은 멘토</p>
            </div>
        </div>
        <div class="card_backgroud">
            <div class="card_img">
                <img src="" alt="">
            </div>
            <div class="card_name">
                <h3>키오스크로 주문하기</h3>
            </div>
            <div class="card_region_mentor">
                <p>가능 지역</p>
                <p>김가은 멘토</p>
            </div>
        </div>
        <div class="card_backgroud">
            <div class="card_img">
                <img src="" alt="">
            </div>
            <div class="card_name">
                <h3>키오스크로 주문하기</h3>
            </div>
            <div class="card_region_mentor">
                <p>가능 지역</p>
                <p>김가은 멘토</p>
            </div>
        </div>
        <div class="card_backgroud">
            <div class="card_img">
                <img src="" alt="">
            </div>
            <div class="card_name">
                <h3>키오스크로 주문하기</h3>
            </div>
            <div class="card_region_mentor">
                <p>가능 지역</p>
                <p>김가은 멘토</p>
            </div>
        </div>
        <div class="card_backgroud">
            <div class="card_img">
                <img src="" alt="">
            </div>
            <div class="card_name">
                <h3>키오스크로 주문하기</h3>
            </div>
            <div class="card_region_mentor">
                <p>가능 지역</p>
                <p>김가은 멘토</p>
            </div>
        </div>
    </div>
    <div class="pagenation">
        <!-- 페이지네이션 (된다면) -->
    </div>
</body>
</html>